:root {
  --color-primary: purple;
  --color-primary-light: rgb(194, 5, 194);
  --color-secondary: darkblue;
  --color-tertiary: white;
}

.primary-color {
  color: var(--color-primary);
}
.primary-bg-color {
  background-color: var(--color-primary);
}
